<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PACIFIC_DATA.My.MySettings.KiaDatosConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\KiaDatos.mdb"
            providerName="System.Data.OleDb" />
        <add name="PACIFIC_DATA.My.MySettings.KiaDatosConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\KiaDatos.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true"> 
    <supported Runtimeversion="v4.0"/> 
</startup>
</configuration>